extends layout

block content
	link(rel='stylesheet', href='css/create.css')
	link(rel='stylesheet', href='css/dropzone.css')
	.row-fluid
		.span12
			#form-header
				h1 新增商品
				h4 送出以下資訊，立即刊登你的二手商品
			#product-form-wrapper
				form#creation-form.clearfix
					input#p-name(type='text', placeholder='商品名稱')
					select#p-gender(name='gender')
						option(value='M') 男
						option(value='F') 女
						option(value='N') 不限
					select#p-type
						option(value='textbook') **教科書**
						option(value='clothes') 上衣
						option(value='coat') 外套
						option(value='pantskirt') 褲裙
						option(value='dress') 連身裝
						option(value='shoes') 鞋類
						option(value='accessories') 飾品
						option(value='cosmeceutical') 藥妝
						option(value='electronics') 3C產品
						option(value='book') 一般書籍
						option(value='others') 其他
					select#p-size(style='display:none;')
						option(value='XS') XS
						option(value='S') S
						option(value='M') M
						option(value='L') L
						option(value='XL') XL
					#only-shoes(style='display: none;')
						input#p-shoes-size(type='text', placeholder='鞋類尺寸')
						a.sizeChart(href='img/size-chart.jpg', title='鞋碼轉換表', style='margin-left: 35%;') 鞋碼換算表
					input#p-status(type='text', placeholder='商品狀態')
					textarea#p-des(cols='40', rows='3')
					input#p-bought(type='text', pattern='\d*', placeholder='買入價格')
					input#p-sold(type='text', pattern='\d*', placeholder='欲售價格')
				form.dropzone#my-dropzone(action='/upload',method='post')

				button#submit.btn.btn-warning
					i.icon-plus.icon-white
					| 發佈
block scripts
	script(src='js/lib/dropzone.min.js', type='text/javascript')
	script(src='js/create.js', type='text/javascript')
