doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title trésor@Ember1
    meta(name='description', content='Thumbnail Grid with Expanding Preview')
    meta(name='keywords', content='thumbnails, grid, preview, google image search, jquery, image grid, expanding, preview, portfolio')
    meta(name='author', content='tresor')
    link(rel='stylesheet', type='text/css', href='/vendor/foundation/css/normalize.css')
    link(rel='stylesheet', type='text/css', href='/vendor/foundation/css/foundation.min.css')
    link(rel='stylesheet', type='text/css', href='/css/products.css')
    script(src='/vendor/jquery/jquery.min.js')
    script(src='/vendor/handlebars/handlebars.min.js')
    script(src='/vendor/ember/ember.js')
  body
    h1.panel hi
    script(src='/vendor/foundation/js/foundation.min.js')
    //-
      script(src='/js/build/templates.js')
      script(src='/js/app/init.js')
      script(src='/js/app/grid.js')
