<h2>設定</h2>
<ul>
  <li>{{#link-to 'settings.profile'}}Profile{{/link-to}}</li>
  <li>{{#link-to 'settings.social_media'}}Social media{{/link-to}}</li>
  <li>{{#link-to 'settings.others'}}Others{{/link-to}}</li>
  <li>{{#link-to 'settings.sign_out'}}Sign out{{/link-to}}</li>
</ul>
<div class='panel callout radius'>
  {{ outlet }}
</div>
