
			<div class="main">
				<ul id="ts-grid" class="ts-grid">

          <li>
          <a class="square" href="#52de6ab8f7500bf0fe3f3b78" data-largesrc="http://media.smashingmagazine.com/wp-content/uploads/2013/09/app-sketch.png" data-title="白色*高筒休閒鞋" data-description="尺寸不合 忍痛售出 附上原購買網址↓ http://tw.mall.yahoo.com/item/p023941471582" style='background-image: url("http://media.smashingmagazine.com/wp-content/uploads/2013/09/app-sketch.png" alt="whatever">
              <div class='ts-mini-info'>
                <h1 class='ts-mini-title'>title</h1>
                <p class='ts-mini-price'>$399</p>
              </div>
            </a>
          </li>

        </ul>
      </div>
    

